<!-------------------------- About Section Start from here ---------------------------->
<section class="about section" id="about">
    <span class="section-subtitle">My intro</span>

    <h2 class="section-title">About Me</h2>

    <div class="about__container bd-grid">
        <div class="about__data">
            <p class="about__description">
                I'm an award winning full stack web developer and UI enthusiast.
                Experience in developing highly interactive web applications utilizing Javascript, HTML, CSS, SCSS,
                Angular 8+, ReactJs
            </p>
            <img src="img/nihory-about.png" alt="Nihory Berst" title="Nihory Berst" class="about__img">
        </div>

        <div>
            <div class="about__information">
                <h3 class="about__information-title">Information</h3>

                <div class="about__information-data">
                    <i class='bx bxs-user about__information-icon'></i>
                    <span>Nihory Berst</span>
                </div>

                <div class="about__information-data">
                    <i class='bx bxs-phone about__information-icon'></i>
                    <span>+91 9867 124867</span>
                </div>

                <div class="about__information-data">
                    <i class='bx bxs-envelope about__information-icon'></i>
                    <span>me@nihoryberst.com</span>
                </div>
            </div>

            <div class="about__information">
                <h3 class="about__information-title">Experience and support</h3>

                <div class="about__information-data">
                    <i class='bx bxs-medal about__information-icon'></i>
                    <div>
                        <span class="about__information-subtitle">5 Years Job</span>
                        <span class="about__information-subtitle-small">Experience</span>
                    </div>
                </div>

                <div class="about__information-data">
                    <i class='bx bxs-briefcase about__information-icon'></i>
                    <div>
                        <span class="about__information-subtitle">50+ Projects</span>
                        <span class="about__information-subtitle-small">Completed</span>
                    </div>
                </div>

                <div class="about__information-data">
                    <i class='bx bx-support about__information-icon'></i>
                    <div>
                        <span class="about__information-subtitle">Support</span>
                        <span class="about__information-subtitle-small">Online 24/7</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-------------------------- About Section Ends from here ---------------------------->