<footer class="footer section">
    <div class="footer__container bd-grid">
        <h1 class="footer__title">Nihory</h1>
        <p class="footer-description">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium eligendi modi maiores.
        </p>

        <div class="footer__social">
            <a href="#" class="footer__link"><i class="bx bxl-facebook"></i></a>
            <a href="#" class="footer__link"><i class="bx bxl-twitter"></i></a>
            <a href="#" class="footer__link"><i class="bx bxl-linkedin"></i></a>
        </div>

        <p class="footer-copy">All rights reserved by Nihory - 2021</p>
    </div>
</footer>