@import '../../../styles.scss';

.main {
    position: sticky;
    background-color: #545eeb;
    height: 10vh;
    margin: 1vw;
    display: flex;
    border-radius: 20px;
    align-items: center;
    top: 0px;
    box-shadow: 1px 1px 24px 3px rgba(64, 45, 236, 0.2);

    @media (max-width:480px) {
        margin: 1vw 5vw;
    }
}

.burger-icon {
    position: relative;
    height: 6vh;
    width: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 1vw;
    cursor: pointer;

    .line {
        margin: 3px;
        position: relative;
        height: 4px;
        width: 4vh;
        background-color: $lines-color;
        border-radius: 5px;
        transition: .5s;
    }

    @media (max-width:1440px) {
        margin-left: 1vw;
    }

    @media (max-width:1024px) {
        margin-left: 2vw;
        width: 6vw;
    }

    @media (max-width:768px) {
        margin-left: 2vw;
        width: 7vw;
    }

    @media (max-width:480px) {
        margin-left: 2vw;
        width: 11vw;
    }
}

.profile {
    height: 6vh;
    width: 6vh;
    position: relative;
    border-radius: 50%;
    overflow: hidden;

    img {
        height: 100%;
        width: 100%;
    }

    @media (max-width:480px) {
        height: 5vh;
        width: 5vh;
    }
}

.name {
    h1 {
        margin: 0 1vw;
        font-weight: 600;
        color: $lines-color;
        font-size: 30px;
        font-family: 'Poppins', sans-serif;
        @media (max-width:480px) {
            font-size: 23px;
        }
    }
}

.content {
    margin: 1vw;

    @media (max-width:480px) {
        margin: 4vw;
    }
}

.first-line {
    transform: rotate(45deg);
    top: 6px;
    transition: .5s;
    height: 5px !important;
}

.second-line {
    display: none;
    transition: .5s;
}

.last-line {
    transform: rotate(-45deg);
    top: -5px;
    transition: .5s;
    height: 5px !important;
}