<div>
    <div class="main">
        <div class="burger-icon" (click)="toggleSidebar()">
            <span class="line" [ngClass]="{'first-line': (sidebar$ | async) }"></span>
            <span class="line" [ngClass]="{'second-line': (sidebar$ | async) }"></span>
            <span class="line" [ngClass]="{'last-line': (sidebar$ | async) }"></span>
        </div>
        <div class="profile">
            <img src="./../../../assets/images/profile.jpg" alt="">
        </div>
        <div class="name">
            <h1>Pravin Sarwade</h1>
        </div>
    </div>
    <div class="content">
        <app-banner></app-banner>
    </div>
</div>
<ng-template #loading>
    <h1>Loading</h1>
</ng-template>