<!--------------------------- Works Section Start from here -------------->
<section class="works section" id="works">
    <span class="section-subtitle">My portfolio</span>
    <h2 class="section-title">Recent Works</h2>

    <div class="works__container bd-grid">
        <div class="works__img">
            <img src="img/work-1.png" alt="App Design" title="App Design">

            <div class="works__data">
                <a href="img/work-1.png" class="works__link"><i class="bx bx-link-alt"></i></a>
                <span class="works__title">App Design</span>
            </div>
        </div>

        <div class="works__img">
            <img src="img/work-2.jpg" alt="Web App" title="Web App">

            <div class="works__data">
                <a href="img/work-2.jpg" class="works__link"><i class="bx bx-link-alt"></i></a>
                <span class="works__title">Web App</span>
            </div>
        </div>

        <div class="works__img">
            <img src="img/work-3.png" alt="E-commerce" title="E-commerce">

            <div class="works__data">
                <a href="img/work-3.png" class="works__link"><i class="bx bx-link-alt"></i></a>
                <span class="works__title">E-commerce</span>
            </div>
        </div>

        <div class="works__img">
            <img src="img/work-4.jpg" alt="Agency Site" title="Agency Site">

            <div class="works__data">
                <a href="img/work-4.jpg" class="works__link"><i class="bx bx-link-alt"></i></a>
                <span class="works__title">Agency Site</span>
            </div>
        </div>

        <div class="works__img">
            <img src="img/work-5.png" alt="Network Site" title="Agency Site">

            <div class="works__data">
                <a href="img/work-5.png" class="works__link"><i class="bx bx-link-alt"></i></a>
                <span class="works__title">Network Site</span>
            </div>
        </div>

        <div class="works__img">
            <img src="img/work-6.png" alt="Hosting Site" title="Hosting Site">

            <div class="works__data">
                <a href="img/work-6.png" class="works__link"><i class="bx bx-link-alt"></i></a>
                <span class="works__title">Payment Site</span>
            </div>
        </div>
    </div>
</section>
<!--------------------------- Works Section Ends from here -------------->