@import '../styles.scss';

.main-wrapper{
    display: flex;
    .content{
        width: 100%;
    }
    .sidebar{
        width: 0;
        overflow: hidden;
        transition: .4s;
       
    }
    .sidebar-open{
        width: 30vw;
        @media (max-width:480px) {
            position: absolute;
            top: 0;
            left: 0;
            background-color: $lines-color;
            height: 100vh;
            width: 100vw;
            z-index: 1;
        }
    }

}