<!----------------------- Education Section Start from here ------------------>
<section class="education section">
    <span class="section-subtitle">Qualification</span>
    <h2 class="section-title">My Education</h2>

    <div class="education__container bd-grid">
        <div class="education__content">
            <div>
                <h3 class="education__year">2010 - 2013</h3>
                <span class="education__university">University of Studies</span>
            </div>

            <div class="education__time">
                <span class="education__rounder"></span>
                <span class="education__line"></span>
            </div>

            <div>
                <h3 class="education__race">Dev Diploma</h3>
                <span class="education__specialty">Frontend</span>
            </div>
        </div>

        <div class="education__content">
            <div>
                <h3 class="education__year">2014 - 2017</h3>
                <span class="education__university">University of Studies</span>
            </div>

            <div class="education__time">
                <span class="education__rounder"></span>
                <span class="education__line"></span>
            </div>

            <div>
                <h3 class="education__race">Server Side Diploma</h3>
                <span class="education__specialty">Backend</span>
            </div>
        </div>

        <div class="education__content">
            <div>
                <h3 class="education__year">2018 - 2020</h3>
                <span class="education__university">University of Studies</span>
            </div>

            <div class="education__time">
                <span class="education__rounder"></span>
                <span class="education__line"></span>
            </div>

            <div>
                <h3 class="education__race">Design Diploma</h3>
                <span class="education__specialty">UI/UX</span>
            </div>
        </div>
    </div>
</section>
<!----------------------- Education Section Ends from here ------------------>