<!------------------- Home Section Starts from here ------------------->
<section class="home" id="home">
    <div class="home__container bd-grid">
        <div class="home__data">
            <div class="home__img">
                <img src="assets/images/profile.png" alt="Nihory Berst" title="Nihory Berst">
            </div>

            <h1 class="home__title">Pravin Sarwade</h1>
            <span class="home__profession">Full stack Developer</span>

            <div class="home__social">
                <a href="#" class="home__social-link"><i class='bx bxl-linkedin'></i></a>
                <a href="#" class="home__social-link"><i class='bx bxl-github'></i></a>
                <a href="#" class="home__social-link"><i class='bx bxl-facebook'></i></a>
                <a href="#" class="home__social-link"><i class='bx bxl-behance'></i></a>
            </div>

            <a download="resume/nihory resume.pdf" href="resume/nihory resume.pdf" class="button home__button">Download
                Resume</a>
        </div>
    </div>
</section>
<!------------------- Home Section Ends from here ------------------->