<div class="bg">
    <div class="content">
        <div class="name">
            <h1>I'm Pravin Sarwade <span class="dot"></span></h1>
            <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nostrum, eaque totam animi
                pariatur ipsum maiores consequatur corporis, voluptate, vero reprehenderit harum ut aperiam doloribus
                sunt temporibus voluptatem neque voluptas vel!</p>
        </div>
        <div class="btns">
            <button class="portfolio-btn">
                <div class="block">
                    <span class="spans"></span>
                    <span class="spans"></span>
                    <span class="spans"></span>
                    <span class="spans"></span>
                </div>
                <span class="text">View My Portfolio</span>
            </button>
            <button class="hire-me-btn">Hire Me</button>
        </div>
    </div>
</div>
