<!------------------------ Project in Mind Starts from here ------------------------->
<section class="project section">
    <div class="project__container bd-grid">
        <div class="project__data">
            <h2 class="section-title project__title">Do you have a project in mind</h2>
            <p class="project__description">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, voluptatum, minus possimus vel accusamus
                fuga quas accusantium, praesentium architecto aliquid repudiandae et id enim eos aut.
            </p>
            <a href="#contact" class="button button__light">Contact Me</a>
        </div>

        <img src="img/project-in-mind.png" title="Nihory Berst" alt="Nihory Berst" class="project__img">
    </div>
</section>
<!------------------------ Project in Mind Ends from here ------------------------->