<!------------------------ Header starts from here ----------------------->
<header class="l-header">
    <nav class="nav bd-grid">
        <div class="nav__toggle" id="nav-toggle">
            <i class='bx bx-menu'></i>
        </div>

        <div>
            <a href="#" class="nav__logo">Nihory</a>
        </div>

        <div class="nav__menu" id="nav-menu">
            <div class="nav__close" id="nav-close">
                <i class='bx bx-x'></i>
            </div>

            <ul class="nav__list">
                <li class="nav__item"> <a href="#home" class="nav__link active"> Home </a></li>
                <li class="nav__item"> <a href="#about" class="nav__link"> About </a></li>
                <li class="nav__item"> <a href="blog.html" class="nav__link"> Blog </a></li>
                <li class="nav__item"> <a href="#skills" class="nav__link"> Skills </a></li>
                <li class="nav__item"> <a href="#services" class="nav__link"> Services </a></li>
                <li class="nav__item"> <a href="#works" class="nav__link"> Works </a></li>
                <li class="nav__item"> <a href="#contact" class="nav__link"> Contact </a></li>
                <!-- Dark mode switch -->
                <li class="nav__item">
                    <input type="checkbox" class="l-d-mode" id="l-d-mode">
                    <label for="l-d-mode" class="l-d-label">
                        <i class='bx bxs-moon'></i>
                        <i class='bx bxs-sun'></i>
                        <div class="ball"></div>
                    </label>
                </li>
            </ul>
        </div>
    </nav>
</header>
<!------------------------ Header ends from here ----------------------->